@import '../utilities/variables';
@import '../utilities/mixins';

.introduction {

    &__title {
        margin-top: 0.25rem;
        text-align: center;
    }

    &-list {
        margin-block: 1.5rem;
        @include display-flex(space-evenly, center);
        flex-wrap: wrap;

        &__point {
            @include display-flex(flex-start, center, column);
            text-align: center;
            margin-block: 1rem;
            width: 12.5ch;

            & > i {
                border: 1px solid $main-brown-color;
                padding: 0.5em;
                border-radius: 50%;
            }

            & > p {
                word-wrap: break-word;
                height: 4.5rem;
            }
        }

        &__icon {
            margin-bottom: 0.5rem;
            color: $main-brown-color;
            font-size: $sub-heading;
        }
    }

    &__text {
        margin-top: -2rem;
    }
}