@import '../utilities/variables';
@import '../utilities/mixins';

$nav-padding-block: 1.25rem;
$navigation-height: 5rem;

@media (min-width: $small-mobile) {
    .nav {
        $hamburger-width: 1.5rem;
        $gap: 0.25rem;

        padding-block: $nav-padding-block;
        padding-inline: 1rem;
        height: $navigation-height;

        @include display-flex(space-between, center);
        @include box-shadow(0px 3px 15px $main-grey-color);
        
        z-index: 1;

        &-logo-container {
            height: 100%;
            max-width: calc(100% - $hamburger-width - $gap);

            @include display-flex(space-between, center);
        }

        &__logo-img {
            height: 100%;
            margin-right: 1rem;
        }

        &__text {
            color: $main-brown-color;
            display: inline-block;
        }

        &-hamburger {
            width: $hamburger-width;
            aspect-ratio: 1;
            z-index: 999;

            @include display-flex(space-evenly, center, column);

            & > span {
                display: block;
                height: 1px;
                width: 100%;
                content: "";
                background-color: $black;
            }
        }

        &-menu {
            @include position(absolute, 0, auto, auto, 0);
            @include display-flex(center, flex-end, column);
            height: 100vh;
            width: 100vw;
            background-color: $white;
            padding: 1rem;
            transform: translateX(100%);
            transition: transform 0.75s cubic-bezier(.17,.67,.83,.67);

            &.active {
                transform: translateX(0);
            }

            &-link-wrapper {
                list-style: none;
                text-align: right;
            }

            &__link {
                font-size: 1.5rem;
                display: inline-block;

                &:hover {
                    border-bottom: 1px solid $main-brown-color;
                }
            }
        }
    }
    
}