@import '../utilities/variables';
@import '../utilities/mixins';

@media (min-width: $small-mobile) {
    .newest-production {
        &__title {
            text-align: center;
        }

        &-list {
            @include scroll-snap-container(x mandatory);
            margin-block: 1rem;

            &__item {
                width: 90%;
                @include scroll-snap-item(center);
                margin-right: 1rem;
                border: 2px solid $main-brown-color;
                border-radius: 15px;

                &:last-of-type {
                    margin-right: 0;
                }
            }

            &__box > img {
                width: 100%;
                border-radius: 15px;
                vertical-align: top;
            }
        }

        
    }
}

