// COLORS
$main-brown-color: #521b03;
$main-grey-color: #7b7b7b;
$white: #fff;
$black: #000;

// BREAKPOINTS
$small-mobile: 20rem;
$standard-mobile: 43rem;
$tablet: 62rem;
$desktop: 82rem;

// FONT WEIGHTS
$super-bold: 900;
$bold: 700;
$regular: 400;

// FONT SIZES
$big-heading: 2.4rem;
$heading: 2rem;
$sub-heading: 1.6rem;
$text-highlight: 1.2rem;
$text: 1rem;
$span: 0.75rem;