@import '../utilities/variables';

* {
    font-family: 'Lato', sans-serif;
    color: $black;
    font-weight: $regular;
    line-height: 1.7;
}

h1 { 
    font-size: $big-heading; 
    font-weight: $super-bold; 
    color: $main-brown-color;
    line-height: $big-heading * 1.25;
    margin-bottom: 2.5rem;

    &::after {
        display: block;
        content: "";
        height: 1px;
        width: 100%;
        background-color: $main-brown-color;
        transform: translateY(1rem);
    }
}


h2 { font-size: $heading; }
h3 { font-size: $sub-heading; }
h4 { font-size: $text-highlight; }
p { font-size: $text; } 

